/*--------------GENERAL---------------*/
.p20 {
  padding: 20px;
}

.p10 {
  padding: 10px;
}

.m20 {
  margin: 20px;
}

.m50 {
  margin: 50px;
}

.aling {
  display: flex;
  justify-content: center;
}

body {
  font-family: "Manrope", sans-serif;
  background-image: url(../img/fondoo.jpg);
  margin: 0%;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

/*----DESKTOP*/
/*---header---*/
.amarillo {
  background-color: #ffab03;
  display: inline-block;
  width: 100%;
}

.naranja {
  background-color: #fc7f03;
  display: inline-block;
  width: 100%;
}

.rojo {
  background-color: #fc3903;
  border-radius: 25px;
  display: inline-block;
  width: 100%;
}

.rosa {
  background-color: #d1024e;
  display: inline-block;
  width: 100%;
}

.violeta {
  background-color: #a6026c;
  display: inline-block;
  width: 100%;
}

.imgLogo {
  height: 90px;
}

#colorN {
  background-color: rgba(255, 204, 133, 0.737254902) !important;
}

.bg-dark {
  background-color: rgba(255, 204, 133, 0.737254902) !important;
}

/*-----footer------*/
.btnFooter {
  padding: 5px 120px;
  border-radius: 10px;
  font-size: 25px;
}

footer {
  background-color: rgba(252, 127, 3, 0.231372549);
}

.problema {
  text-align: center;
  background-color: rgba(252, 127, 3, 0.231372549);
}

/*----------------INDEX---------------*/
/*----cards-----*/
.card1 {
  background-color: #a6026c;
  width: 300px;
}

.card2 {
  background-color: #fc7f03;
  width: 300px;
}

.card3 {
  background-color: #d1024e;
  width: 300px;
}

.card4 {
  background-color: #ffab03;
  width: 300px;
}

.verMas {
  background-color: #fc3903;
  border: #fc3903;
  padding: 10px;
  font-size: 20px;
  border-radius: 13px;
  margin: 10px;
  text-align: center;
}

.pCards {
  border: 10px double #fc3903;
  background: rgb(255, 223, 168);
  font-size: 22px;
  color: #fc3903;
  text-align: center;
}

.flex-just {
  display: flex;
  justify-content: space-around;
}

/*-----info general------*/
.h2izq {
  display: inline-block;
  background-color: #fc3903;
  padding-right: 200px;
  border: 10px solid #fc3903;
  border-end-end-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
  top: 22px;
}

.pMain {
  padding: 19px;
  border: 2px solid #fc3903;
}

.h2der {
  display: inline-block;
  background-color: #fc3903;
  border: 10px solid #fc3903;
  border-top-left-radius: 30px;
  border-end-start-radius: 27px;
  display: flex;
  flex-direction: row-reverse;
  margin: 16px -3px -20px 847px;
}

.videoInfo {
  margin: 11px 64px;
  width: 653px;
  height: 348px;
}

.flex-info {
  display: flex;
}

.lugar {
  display: flex;
  flex-direction: column;
}

.mapa {
  width: 100%;
  height: 309px;
}

/*--------------------PASTELES------------------*/
/*--cards horizontaes---*/
.botonAgr1 {
  background-color: #ffab03;
  border: #ffab03;
  padding: 10px;
  font-size: 20px;
  border-radius: 150px;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
}

.cardProd1 {
  align-items: center;
  justify-content: space-evenly;
}

.rosaC {
  border: 5px solid #d1024e;
}

.naranjaC {
  border: 5px solid #fc3903;
}

.amarilloC {
  border: 5px solid #fc7f03;
}

.violetaC {
  border: 5px solid #a6026c;
}

.fz20 {
  font-size: 22px;
}

/*-----------------PERRO-----------------*/
/*---card perro----*/
.botonPerro {
  background-color: #d1024e;
  border: #d1024e;
  font-size: 20px;
  border-radius: 4px;
  padding: 22px;
  color: white;
}

.bNaranja {
  background-color: #fc7f03;
}

.bVioleta {
  background-color: #a6026c;
}

.bRojo {
  background-color: #fc3903;
}

.navP {
  border: 7px dotted #d1024e;
  padding: 17px;
  color: #d1024e;
}

/*--------------CARRITO-------------------*/
/*----ir a pagar---*/
.pagar1 {
  border: 5px solid #a6026c;
  display: flex;
  margin: 28px 12px -2px 2px;
  background: blanchedalmond;
  align-items: baseline;
  flex-wrap: nowrap;
  flex-direction: column;
}

.regalo {
  text-align: center;
  display: inline-block;
  border: 3px solid #a6026c;
  padding: 10px;
  border-end-end-radius: 30px;
  border-bottom-left-radius: 30px;
}

.irPagar {
  text-align: center;
  display: inline-block;
  border: 3px solid #a6026c;
  padding: 10px;
  border-end-end-radius: 30px;
  border-bottom-left-radius: 30px;
  font-size: 20px;
}

.alinPagar {
  display: flex;
  justify-content: space-around;
}

/*---------------AYUDA-------------*/
.tAyudamos {
  display: inline-block;
  background-color: #fc7f03;
  padding-right: 200px;
  border: 7px solid #fc7f03;
  border-end-end-radius: 30px;
  border-top-right-radius: 30px;
}

.p-f {
  display: inline-block;
  background-color: #fc7f03;
  padding-left: 200px;
  border: 7px solid #fc7f03;
  border-top-left-radius: 30px;
  border-end-start-radius: 30px;
  position: relative;
  left: 91px;
}

figure {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.formulario {
  position: relative;
  right: 79px;
}

.preguntas {
  position: relative;
  left: 72px;
}

.finA {
  background-color: rgba(252, 127, 3, 0.231372549);
}

/*# sourceMappingURL=style.css.map */
