
//----------colores------------//
$amarillo: #ffab03;
$naranja: #fc7f03;
$naranja-rojo: #fc3903;
$rosa: #d1024e;
$violeta: #a6026c;
$bg-pCards: rgb(255, 223, 168);
$bg-footer: rgba(252, 127, 3, 0.231372549);
$bg-header: #ffcc85bc;
$bg-pagar1: blanchedalmond;
$blanco: white;
$negro: black;

//--------fuentes----------//
$font-body: "Manrope", sans-serif;

//-------tamaños---------//
$px5: 5px;
$px10: 10px;
$px20: 20px;
$px30: 30px;
$px300: 300px;