/*------Partials-----*/
@import "variables";
@import "header";
@import "footer";
@import "cardsIndex";
@import "general";
@import "transiciones";

/*----------------INDEX---------------*/


/*-----info general------*/
.h2izq {
    display: inline-block;
    background-color: $naranja-rojo;
    padding-right: 200px;
    border: $px10 solid $naranja-rojo;
    border-end-end-radius: $px30;
    border-top-right-radius: $px30;
    position: relative;
    top: 22px;
}
.pMain {
    padding: 19px;
    border: 2px solid $naranja-rojo;
}
.h2der {
    display: inline-block;
    background-color: $naranja-rojo;
    border: $px10 solid $naranja-rojo;
    border-top-left-radius: $px30;
    border-end-start-radius: 27px;
    display: flex;
    flex-direction: row-reverse;
    margin: 16px -3px -20px 847px;
}

.videoInfo {
    margin: 11px 64px;
    width: 653px;
    height: 348px;
}
.flex-info{
    display: flex;
}
.lugar {
    display: flex;
    flex-direction: column;
}
.mapa {
    width: 100%;
    height: 309px;
}
/*--------------------PASTELES------------------*/
/*--cards horizontaes---*/
.botonAgr1 {
    background-color: $amarillo;
    border: $amarillo;
    padding: $px10;
    font-size: $px20;
    border-radius: 150px;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
}
.cardProd1 {
    align-items: center;
    justify-content: space-evenly;
}

.rosaC {
    border: $px5 solid $rosa;
}
.naranjaC {
    border: $px5 solid $naranja;
}
.amarilloC {
    border: $px5 solid $amarillo;
}
.violetaC {
    border: $px5 solid $violeta;
}
.fz20 {
    font-size: 22px;
}
/*-----------------PERRO-----------------*/
/*---card perro----*/
.botonPerro {
    background-color: $rosa;
    border: $rosa;
    font-size: $px20;
    border-radius: 4px;
    padding: 22px;
    color: $blanco;
}
.bNaranja {
    background-color: $amarillo;
}
.bVioleta {
    background-color: $violeta;
}
.bRojo {
    background-color: $naranja-rojo;
}
.navP {
    border: 7px dotted $rosa;
    padding: 17px;
    color: $rosa;
}

/*--------------CARRITO-------------------*/
/*----ir a pagar---*/
.pagar1 {
    border: $px5 solid $violeta;
    display: flex;
    margin: 28px 12px -2px 2px;
    background: $bg-pagar1;
    align-items: baseline;
    flex-wrap: nowrap;
    flex-direction: column;
}
.regalo {
    text-align: center;
    display: inline-block;
    border: 3px solid $violeta;
    padding: $px10;
    border-end-end-radius: $px30;
    border-bottom-left-radius: $px30;
}
.irPagar {
    text-align: center;
    display: inline-block;
    border: 3px solid $violeta;
    padding: $px10;
    border-end-end-radius: $px30;
    border-bottom-left-radius: $px30;
    font-size: $px20;

}
.alinPagar {
    display: flex;
    justify-content: space-around;
}
/*---------------AYUDA-------------*/
.tAyudamos {
    display: inline-block;
    background-color: $naranja;
    padding-right: 200px;
    border: 7px solid $naranja;
    border-end-end-radius: $px30;
    border-top-right-radius: $px30;
}
.p-f {
    display: inline-block;
    background-color: $naranja;
    padding-left: 200px;
    border: 7px solid $naranja;
    border-top-left-radius: $px30;
    border-end-start-radius: $px30;
    position: relative;
    left: 91px;
}
figure {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.formulario {
    position: relative;
    right: 79px;
}
.preguntas {
    position: relative;
    left: 72px;
}
.finA {
    background-color: rgba(252, 127, 3, 0.231372549);
}
